@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.App {
  text-align: center;
  font-family: "Gill Sans Extrabold", sans-serif;
   background-color: #3C5B6F;
}

body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  background-color:  #3C5B6F;

}

h1 {
  text-align: center;
  color: #DDDDDD;
  font-family: Jersey;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  max-width: 400px;
  border: 1px solid #ddd;
 
}

.rbord {
  background: #C0D6E8;
  margin: 0 200px;
  padding: 20px;
  border-radius: 20px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 15px; 
  overflow: hidden;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-around;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #333;
  width: 95%;
  height: 100%;
}



.product-card:hover {
  background: #FFAF45;
  transform: scale(1.05);
}

.product-card:focus {
  outline: 2px solid black;
}
.product-image-home {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #9dd6e0;
}

.product-image-home:active {
  border-bottom: 1px solid black ;
}
.product-details-home {
  padding: 10px;
}

.product-title-home {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-price-home {
  font-weight: bold;
  color: rgb(46, 49, 106);
}

.rbord-pro {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  margin: 0 200px;
  border-radius: 50px;
  padding: 20px;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color:  #9dd6e0;
}

.product-image {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 40px;
}

.product-details {
  width: 100%;
  max-width: 600px;
  color: #ddd;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
 color:#96EFFF;
}

.product-price {
  font-weight: bold;
  color: #994D1C;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
  color:rgb(237, 68, 68);
}

.product-rating {
  color:#FF8F8F;
  margin-bottom: 10px;
}

.product-heading{
  font-weight: bold;
  color: rgb(239, 67, 67);
  
}

.login-container,
.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
  text-align: center;
  font-family: 'Gill Sans Extrabold', sans-serif;
}

.login-container h1,
.register-container h1 {
  margin-bottom: 30px;
  color:green;
  font-size: 2rem;
}

.login-container form,
.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input,
.register-container input {
  width: 100%;
    margin: 10px;
    border-radius: 2px;
    padding: 5px;
    outline: none;
    background-color: #CCD3CA;
}

.login-container input:focus,
.register-container input:focus {
  border-color: #2c7a7b;
  outline: none;
}

.login-container button,
.register-container button {
  padding: 12px 24px;
  background-color: #FF204E;
  color: #fff;
  border: none;
  border-radius: 4px;
 
  font-size: 1rem;
  
}

.login-container button:hover,
.register-container button:hover {
  background-color: #dcb566;
  color: #607274;
}

.login-container a,
.register-container a {
  text-decoration: none;
  color: #333;
  font-style: italic;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.login-container a:hover,
.register-container a:hover {
  background-color: #FAEED1;
  color: #607274;
}

.logout-container {
  display: flex;
  justify-content: flex-end; 
}

.logout-button {
  padding: 12px 24px;
  background-color: #FF204E;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-left: 10px; 
}


.logout-button:hover {
  background-color: #dcb566;
  color: #607274;
}


.form-label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  color: #333;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}


.button-container .register-link {
  padding: 12px 24px;
  background-color: #FF204E;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}


.button-container .register-link:hover {
  background-color: #dcb566;
  color: #607274;
}

